<form action="/memos/<%= @memo['id'] %>" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" id="title" name="title" value="<%= CGI.escapeHTML(@memo['title']) %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">内容</label>
    <textarea id="content" name="content" class="form-control" rows="10" required><%= CGI.escapeHTML(@memo['content']) %></textarea>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="保存" class="btn btn-primary">
  </div>
</form>
