<div class="mb-3">
  <a class="btn btn-primary" href="/memos/new">新規作成</a>
</div>

<ul>
  <% @memos_id_title.each do |memo_id_title| %>
    <li><a href="/memos/<%= memo_id_title["id"] %>"><%= memo_id_title["title"] %></a></li>
  <% end %>
</ul>
