<div>
  <form action="/memos" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">タイトル</label>
      <input type="text" id="title" name="memo_title" class="form-control" placeholde="タイトル" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">内容</label>
      <textarea id="content" name="memo_content" class="form-control" rows="10" required></textarea>
    </div>
    <input type="submit" value="保存" class="btn btn-primary">
  </form>
</div>
