<div class="">
  <h2><%= @memo_data["title"] %></h2>
  <pre><%= @memo_data["content"] %></pre>
</div>

<div class="d-flex mb-3">
  <form action="/memos/<%= @memo_data["id"] %>/edit" method="get">
    <input type="submit" value="編集" class="btn btn-primary me-2">
  </form>
  <form action="/memos/<%= @memo_data["id"] %>" method="post" onsubmit="return confirm('本当に削除しますか？');">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除" class="btn btn-danger">
  </form>
</div>

<div>
  <a class="btn btn-secondary" href="/memos">メモ一覧に戻る</a>
</div>
